<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "store/oh-faded-logo.png", :size => "48x48", :alt => "Osthyveln", :id => "footer-logo" %>
      <br>
      <br>
      <div class="phone">
        <a href="callto:031123123">031 123123</a>
        </div>
      <br>
      <div class="email">
        <a href="mailto:thomas@nocebo.se">thomas [at] nocebo.se</a>
      </div>
      <br>
      <div class="address">
		  <!-- adressrad 1 & 2 -->
      </div>
    </div>
    
    <div class="four columns">
      <h5>OVåra erbjudanden</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Handla hos oss</h5>
      <ul>
        <li><a href="/products">Kontakt</a></li>
        <li><a href="/products">Lecerans och frakto</a></li>
        <li><a href="/products">Ångerrätt</a></li>
        <li><a href="/products">Frågor och svar.</a></li>
        <li><a href="/products">Att tänka på</a></li>
        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Delikatesser</h5>
      <p>
        Det här är en presentationstext...
      </p>
    </div>
    
  </div>
</footer>